//@import './reset'; // development only
@import './fonts';
@import './variables';
@import './animations';

// html, body {
//     font-family: var(--font-basic);
//     font-size: 10px;
//     font-weight: 400;
//     height: 100%;
//     min-width: 320px;
//     position: relative;
//     color: var(--color-main);
// }

// development only
// h1 {
//     font-size: 50px;
//     font-weight: 600;
// }

.app {
    min-height: 400px;
    position: relative;
    z-index: 1;
}

.app .stp-calc {
    &__step {
        border: 1px solid var(--color-border);
        background-color: #fff;
        margin-bottom: 40px;  
    }
    &__bold-title {
      color: #111;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;  
      font-size: 18px;
      font-weight: 700;
      padding: 30px 15px 10px 15px;
      position: relative;
        &:before {
            position: absolute;
            content: '';
            bottom:0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-red);
        }
    }

    .zones-labels {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
            &__item {
                background-color: var(--color-white-grey);
                padding: 15px 20px;
                display: flex;
                align-items: center;
                border: 1px solid var(--color-border);
                margin-bottom: 25px; 
                margin-right: 25px; 
            }
            &__name {
                color:var(--color-title);
                font-weight: 500;
                font-size: 18px;
                margin-left: 15px;
            }
    }
}

.app .spinner {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.app .total {
    box-shadow: 0px 2px 19px 2px rgba(0, 0, 0, 0.1);
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        &__sum {
            font-size: 22px;
            font-weight: 700;
            color: var(--color-red);
                @media (max-width: $sm) {
                    font-size: 18px;  
                }
            & > span {
                color: #111;
                font-weight: 700;
            }
        }
}