@import './reset'; // development only
@import './fonts';
@import './variables';

html, body {
    font-family: $font-basic;
    font-size: 10px;
    font-weight: 400;
    height: 100%;
    min-width: 320px;
    position: relative;
    color: $color-main;
}

// development only
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    transition: all .2s;
        @media (min-width: $sm) {
            max-width: 540px; 
        }
        @media (min-width: $md) {
            max-width: 720px; 
        }
        @media (min-width: $lg) {
            max-width: 960px; 
        }
        @media (min-width: $xl) {
            max-width: 1147px; 
        }
}

// development only
h1 {
    font-size: 50px;
    font-weight: 600;
}

.stp-calc {
    &__step {
        border: 1px solid $color-border;
        background-color: #fff;
        margin-bottom: 40px;  
    }
    &__bold-title {
      color: #111;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;  
      font-size: 18px;
      font-weight: 700;
      padding: 30px 15px 10px 15px;
      position: relative;
        &:before {
            position: absolute;
            content: '';
            bottom:0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color-red;
        }
    }

    .quick-pick {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
            &__label {
                cursor: pointer;
                position: relative;
                width: 100%;
                max-width: 110px;
                height: 116px;
                text-align: center;
                background-color: $color-white-grey;
                border: 1px solid $color-border;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                    &:hover {
                        box-shadow: 0px 2px 19px 2px rgba(0, 0, 0, 0.1);
                    }
                &_active {
                    border: 2px solid $color-red;
                }
            }
            &__logo {
                max-width: 100%;
                // pointer-events: none;
                // touch-action: none;
                user-select: none;  
            }
            &__name {
                display: block;
                position: absolute;
                bottom: 10px;
                font-weight: 500;
                font-size: 18px;
                line-height: 16px;
                color: $color-title;
                user-select: none;  
            }
            &_body {
                justify-content: flex-start;
                .quick-pick__label {
                    max-width: 180px;
                    margin-right: 3%; 
                }
   
            }
    }
    .quick-body {
        display: flex;
        justify-content: flex-start;
    }

    .zones-labels {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        &__item {
            background-color: $color-white-grey;
            padding: 15px 20px;
            display: flex;
            align-items: center;
            border: 1px solid $color-border;
            margin-bottom: 25px; 
            margin-right: 25px; 
        }
        &__name {
            color:$color-title;
            font-weight: 500;
            font-size: 18px;
            margin-left: 15px;
        }
    }
}

.step {
    &__title {
        font-size: 23px;
        font-weight: 700;
        &>span {
            color: $color-red;
        }
        &_padding {
            padding-bottom: 30px;
        }
    }
    padding: 20px 30px 40px 30px;
}