$font-basic: 'TT Norms',sans-serif;
$color-main: #000;
$color-title: #656666;
$color-red: #ED1C24;
$color-red-opacity: #FA8989;
$color-border: #e4e5e6;
$color-dark-grey: #5D686F;
$color-white-grey: #F8F9FB;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

