.app .autocomplete {
    width: 100%;
    position: relative;
        &__theme {
          background-color: #F5F7F8;
          display: flex;
          width: 100%;
          position: relative;
          border: 1px solid #e4e5e6;
          transition: all .3s;
        }
        &_focused {
                .autocomplete__theme {
                    border: 1px solid blue;
                }
        }
        &__label {
            transition: .3s;
            opacity: 1;
            display: block;
            font-size: 16px;
            color: #5D686F;
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translate(0, -50%);
            pointer-events: none;
          &_active {
            opacity: 0;
            top: -20%;
            font-size: 12px;
          }
        }
        &__input {
            font-size: 16px;
            font-size: 16px;
            color: #5D686F;
            display: block;
            width: calc(100% - 30px);
            outline: none;
            border: none;
            background-color: transparent;
            padding: 12px 4px 12px 15px;
        }
        &__button {
            cursor: pointer;
            outline: none;
            border: none;
            position: absolute;
            background-color: transparent;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            width: 30px;
            height: 30px;
            &:before {
                transition: all .3s;
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(https://img.mbastudio.ru/arrow.svg) no-repeat center center;
                transition: .1s;

            }
            &_open:before {
              transition: all .3s;
              transform: rotate(180deg);
            }
        }
        &__list {
            display: none;
            background: #F5F7F8;
            width: 100%;
            position: absolute;
            top:calc(100% + 5px );
            left:0;
            text-align: left;
            overflow: auto;
            max-height: 300px;
            z-index: 100;
            transition: opacity .1s ease;
          &_open {
            display: block;
            transition: opacity .1s ease;
          }
        }
        &__item {
            padding: 8px 0;
            padding-left: 10px;
            cursor: pointer;
            font-size: 20px;
            margin: 5px 0;
            list-style-type: none;
              &:hover {
                 // background-color: #b3d4fc;
              }
        }
}