$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

.app .step {
    &__title {
        font-size: 23px;
        font-weight: 700;
        &>span {
            color: var(--color-red);
        }
        &_padding {
            padding-bottom: 30px;
        }
    }
    padding: 20px 30px 40px 30px;
    @media (max-width: $sm) {
        padding: 20px 10px 40px 10px;  
    }
}